body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    height: 100%;
}


.dashboard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    background-image: url('/assets/openfridge.jpg'); 
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
    position: relative;
}

.dashboard-container h1{
    font-size: 3.2em;
    line-height: 1.1;
    text-align: center;
}

.form-container {
    background: white;
    padding: 2.5rem 3rem;
    border-radius: 20px;
    width: 500px;
    box-shadow: 0 2px 10px rgba(0,0,0, 0,15);

    max-width: 90%;
    min-width: 380px;
    z-index: 1;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.form_title h1 {
    color: #008080;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.8rem;
}

.form-control {
    width: 100%;
    padding: 12px;
    margin-top: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
}

select.form-control {
    appearance: none;

    background-color: #fff; 
    color: #333;           
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;

    background-image: none;
    box-shadow: none;
}

.form-label {
    font-weight: 600;
    color: #333;
    display: block;
    margin-top: 1rem;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.form_button {
    cursor: pointer;
    border: none;
    border-radius: 6px;
    padding: 10px 16px;
    color: #fff;
    font-weight: 600;
}

.form_button_register {
    background-color: #007bff;
}

.form_button_register:hover {
    background-color: #0056b3;
}

.form_button_cancel {
    background-color: #e74c3c;
}

.form_button_cancel:hover {
    background-color: #c0392b;
}

.add-food-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px 20px;
    background-color: #4202b9;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}

.add-food-btn:hover {
    background-color: #5304e5;
}


.fridge-items {
    display: flex;
    flex-direction: row;      
    gap: 30px;               
    position: absolute;
    top: 60%;                 
    left: 50%;
    transform: translateX(-50%);
}


.fridge-item {
    display: flex;
    justify-content: center;
    align-items: center;
}


.emoji {
    font-size: 8rem;       
    display: flex;
    justify-content: center;
    align-items: center;
}
