.home-wrapper {
    background-color: white;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.home-container{
    width: 80vw;
    margin: 0 auto;
    background-image: linear-gradient(rgba(179, 190, 178, 0.0), rgba(179, 190, 178, 0.0)), url(../../assets/closedFridge.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    cursor: pointer;
}

.home-container h1{
    font-size: 3.2em;
    line-height: 1.1;
    text-align: center;
}