.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login-container h1{
    font-size: 3.2em;
    line-height: 1.1;
    text-align: center;
}