.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-image: url("/assets/openfridge.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container h1{
    font-size: 3.2em;
    line-height: 1.1;
    text-align: center;
    color: #028090;
    font-family: 'Sora', sans-serif;
    margin-bottom: 11px;
}

.white-box{
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    min-height: 40vh; 
    width: 526px;
    height: auto;       
    padding: 20px 0;    
    padding-bottom: 30px;
}

input {
    color: #545353;
    font-family: 'Sora', sans-serif;
}


button {
    color: #ffffff;
    background-color: #F45B69;
    font-family: 'Sora', sans-serif;
}

button:hover {
    background-color: #d44f5a;
}

.login-btn {
    background-color: #028090;
    color: #ffffff;
}

.login-btn:hover {
    background-color: #087685;
}

form input, form button {
    width: 482px;
    height: 38px;
    box-sizing: border-box;
    border: 1.4px solid;
    border-radius: 6px;
    font-size: 1rem;
}

.error-text {      
    font-family: 'Sora', sans-serif;
    color: #F45B69;
    margin: 0;
    font-size: 0.9rem;
    padding-bottom: 5px;
}

