@font-face{
    font-family: 'Sora';
    src: url(../fonts/Sora-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
}

.signup-container{
    width: 100vw;

    background: linear-gradient(rgba(179, 190, 178, 0.4), rgba(179, 190, 178, 0.4)), url(../../public/assets/openfridge.jpg) no-repeat center center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form-container{
    margin-top: 2%;

    min-width: 35%;
    min-height: 55vh;

    padding: 24px 24px 35px;

    background-color: #ffff;
    backdrop-filter: blur(100px);
    border-radius: 16px;

    text-align: center;
}

.form_title h1{
    margin: 15px auto 30px;
    font-family: 'Sora', sans-serif;
    font-size: 3.2em;
    color: #028090;
    line-height: 1.1;
    text-align: center;
}

.form_button{
    margin-top: 1em;
    color: white;
    background-color: red;
    border: 0.1px solid black !important;
}

/* Common class */
.form-control{
    width: 100%;
    padding: 14px;

    margin-bottom: 1.1em;

    box-sizing: border-box;
    border-radius: 10px;
    border: 0.15px solid rgba(179, 190, 178, 0.7);
    outline: none;

    font-size: 1.1em;
    line-height: 1.1;
}

.form-control::placeholder{
    color: rgba(179, 190, 178, 0.9);
}